Explore the crimes.csv dataset and use your findings to answer the following questions:

Which hour has the highest frequency of crimes? Store as an integer variable called peak_crime_hour.

Which area has the largest frequency of night crimes (crimes committed between 10pm and 3:59am)? Save as a string variable called peak_night_crime_location.

Identify the number of crimes committed against victims of different age groups. Save as a pandas Series called victim_ages, with age group labels "0-17", "18-25", "26-34", "35-44", "45-54", "55-64", and "65+" as the index and the frequency of crimes as the values.



Los Angeles, California 游땙. The City of Angels. Tinseltown. The Entertainment Capital of the World! 

Known for its warm weather, palm trees, sprawling coastline, and Hollywood, along with producing some of the most iconic films and songs. However, as with any highly populated city, it isn't always glamorous and there can be a large volume of crime. That's where you can help!

You have been asked to support the Los Angeles Police Department (LAPD) by analyzing crime data to identify patterns in criminal behavior. They plan to use your insights to allocate resources effectively to tackle various crimes in different areas.

## The Data

They have provided you with a single dataset to use. A summary and preview are provided below.

It is a modified version of the original data, which is publicly available from Los Angeles Open Data.

# crimes.csv

| Column     | Description              |
|------------|--------------------------|
| `'DR_NO'` | Division of Records Number: Official file number made up of a 2-digit year, area ID, and 5 digits. |
| `'Date Rptd'` | Date reported - MM/DD/YYYY. |
| `'DATE OCC'` | Date of occurrence - MM/DD/YYYY. |
| `'TIME OCC'` | In 24-hour military time. |
| `'AREA NAME'` | The 21 Geographic Areas or Patrol Divisions are also given a name designation that references a landmark or the surrounding community that it is responsible for. For example, the 77th Street Division is located at the intersection of South Broadway and 77th Street, serving neighborhoods in South Los Angeles. |
| `'Crm Cd Desc'` | Indicates the crime committed. |
| `'Vict Age'` | Victim's age in years. |
| `'Vict Sex'` | Victim's sex: `F`: Female, `M`: Male, `X`: Unknown. |
| `'Vict Descent'` | Victim's descent:<ul><li>`A` - Other Asian</li><li>`B` - Black</li><li>`C` - Chinese</li><li>`D` - Cambodian</li><li>`F` - Filipino</li><li>`G` - Guamanian</li><li>`H` - Hispanic/Latin/Mexican</li><li>`I` - American Indian/Alaskan Native</li><li>`J` - Japanese</li><li>`K` - Korean</li><li>`L` - Laotian</li><li>`O` - Other</li><li>`P` - Pacific Islander</li><li>`S` - Samoan</li><li>`U` - Hawaiian</li><li>`V` - Vietnamese</li><li>`W` - White</li><li>`X` - Unknown</li><li>`Z` - Asian Indian</li> |
| `'Weapon Desc'` | Description of the weapon used (if applicable). |
| `'Status Desc'` | Crime status. |
| `'LOCATION'` | Street address of the crime. |

In [2]:
#Importamos las librer칤as requeridas, adem치s cargamos el dataset como crimes y vemos las primeras 5 filas.
import pandas as pd
import numpy as np
crimes = pd.read_csv("C:\\Users\\ASUS\\Desktop\\Data_Science\\DataCamp\\Associate_data_scientist_in_Python\\Projects\\15_Analyzing_crime_in_LA\\crimes.csv", parse_dates=["Date Rptd", "DATE OCC"], dtype={"TIME OCC": str})
crimes.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION
0,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV
1,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST
2,220614831,2022-08-18,2020-08-17,1200,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,Invest Cont,1900 TRANSIENT
3,231207725,2023-02-27,2020-01-27,0635,77th Street,THEFT OF IDENTITY,37,M,H,NaN,Invest Cont,6200 4TH AV
4,220213256,2022-07-14,2020-07-14,0900,Rampart,THEFT OF IDENTITY,79,M,B,NaN,Invest Cont,1200 W 7TH ST

In [3]:
#Creamos una columna llamada Hour en el que guardamos los dos primeros caracteres de la columna TIME OCC.
crimes['Hour'] = crimes['TIME OCC'].apply(lambda x: x[0:2] )
crimes.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION,Hour
0,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV,11
1,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST,16
2,220614831,2022-08-18,2020-08-17,1200,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,Invest Cont,1900 TRANSIENT,12
3,231207725,2023-02-27,2020-01-27,0635,77th Street,THEFT OF IDENTITY,37,M,H,NaN,Invest Cont,6200 4TH AV,06
4,220213256,2022-07-14,2020-07-14,0900,Rampart,THEFT OF IDENTITY,79,M,B,NaN,Invest Cont,1200 W 7TH ST,09

In [4]:
#Contamos cual es la hora que presenta m치s cr칤menes.
peak_crime_hour = crimes['Hour'].value_counts(sort=True)
peak_crime_hour = int(peak_crime_hour.index[0])
peak_crime_hour

12

In [5]:
#Cambiamos el tipo de dato de la columna Hour y creamos una columna llamada Night que entre las horas de las 10pm y las 3am tenga
#un valor de 1 y sino tenga un valor de 0.
crimes['Hour'] = crimes['Hour'].astype(int)
crimes['Night'] = crimes['Hour'].apply(lambda x: 1 if (x>=22 or x<=3) else 0)
crimes.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION,Hour,Night
0,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV,11,0
1,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST,16,0
2,220614831,2022-08-18,2020-08-17,1200,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,Invest Cont,1900 TRANSIENT,12,0
3,231207725,2023-02-27,2020-01-27,0635,77th Street,THEFT OF IDENTITY,37,M,H,NaN,Invest Cont,6200 4TH AV,6,0
4,220213256,2022-07-14,2020-07-14,0900,Rampart,THEFT OF IDENTITY,79,M,B,NaN,Invest Cont,1200 W 7TH ST,9,0

In [6]:
#Creamos un dataframe llamado area_count_df el cual tiene guardado de mayor a menor las 치reas con mayor n칰mero de cr칤menes
#entre las 10pm y las 3am.
area = crimes[['AREA NAME', 'Night']]
area = area[area['Night']==1]
area_count = area['AREA NAME'].value_counts(sort=True)
area_count_df = area_count.to_frame().reset_index()
area_count_df = area_count_df.rename(columns={'TOTAL':'AREA NAME', 'count':'TOTAL'})
area_count_df

      AREA NAME  TOTAL
0       Central   3312
1     Hollywood   2699
2   77th Street   2558
3     Southwest   2347
4     Southeast   2218
5        Newton   2142
6       Olympic   2137
7       Pacific   1916
8       Rampart   1860
9   N Hollywood   1855
10     Wilshire   1716
11    Northeast   1684
12     Van Nuys   1629
13  West Valley   1520
14      Topanga   1461
15      Mission   1453
16       Harbor   1384
17      West LA   1369
18   Devonshire   1348
19   Hollenbeck   1315
20     Foothill   1260

In [7]:
peak_night_crime_location = 'Central'

In [10]:
#Creamos una columna nueva llamada victim_ages con una etiqueta dependiendo del rango de edad.
def labels(age):
    """La funci칩n clasifica la edad del individuo en diferentes rangos etarios y retorna una etiqueta correspondiente"""
    if age<=17:
        return '0-17'
    elif age>17 and age<=25:
        return '18-25'
    elif age>25 and age<=34:
        return '26-34'
    elif age>34 and age<=44:
        return '35-44'
    elif age>44 and age<=54:
        return '45-54'
    elif age>54 and age<=64:
        return '55-64'
    else:
        return '65+'
    
crimes['victim_ages'] = crimes['Vict Age'].apply(labels)
crimes.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA NAME,Crm Cd Desc,Vict Age,Vict Sex,Vict Descent,Weapon Desc,Status Desc,LOCATION,Hour,Night,victim_ages
0,220314085,2022-07-22,2020-05-12,1110,Southwest,THEFT OF IDENTITY,27,F,B,NaN,Invest Cont,2500 S SYCAMORE AV,11,0,26-34
1,222013040,2022-08-06,2020-06-04,1620,Olympic,THEFT OF IDENTITY,60,M,H,NaN,Invest Cont,3300 SAN MARINO ST,16,0,55-64
2,220614831,2022-08-18,2020-08-17,1200,Hollywood,THEFT OF IDENTITY,28,M,H,NaN,Invest Cont,1900 TRANSIENT,12,0,26-34
3,231207725,2023-02-27,2020-01-27,0635,77th Street,THEFT OF IDENTITY,37,M,H,NaN,Invest Cont,6200 4TH AV,6,0,35-44
4,220213256,2022-07-14,2020-07-14,0900,Rampart,THEFT OF IDENTITY,79,M,B,NaN,Invest Cont,1200 W 7TH ST,9,0,65+

In [9]:
#Contamos cu치l es el rango de edad el cual sufre m치s v칤ctimas. 
victim_ages = crimes['victim_ages'].value_counts()
victim_ages

victim_ages
26-34    47470
35-44    42157
45-54    28353
18-25    28291
55-64    20169
65+      14747
0-17      4528
Name: count, dtype: int64

Como observamos en el c칩digo anterior, logramos encontrar cual es la hora en la cual se cometen m치s cr칤menes que son a las *12* del medio d칤a, adem치s observamos que entre las 10pm y las 3am la zona *Central* es la m치s azotada por el crimen, y por 칰ltimo el rango de edad entre *los 26 y 34 a침os*, es la m치s victima de cr칤menes.